.Navbar {
  background: #0f0f0f;
  display: flex;
  justify-content: flex-end;
}

.NavbarLink {
  color: #cdcdcd;
  text-decoration: none;
  padding: 1em 1.5em;

  &:hover {
    color: white;
    background: #212121;
  }
}
