.Slider
  width 100%

  &-total
    overflow hidden
    background $tertiary_color
    border-radius 1em
    height 1em
    width 100%

  &-current
    @extend .Slider-total
    background $primary_color
    width 50%
