div.Header.Header--noSearch
  i.fa.fa-navicon.Header-menuIcon
  h1.Header-title #{ page_title }
  div.Header-search
    i.fa.fa-search.Header-searchIcon
    input(type="search", placeholder="search").Header-input
