div.Landing
  div.Landing-background
    img.Landing-logo(src="/public/assets/img/logo.svg")
    div.Landing-buttonsContainer
      button.Landing-button.Landing-button--blog Blog
      button.Landing-button.Landing-button--play Play 
      button.Landing-button.Landing-button--about About
