li.PlaylistItem
  div.PlaylistItem-info
    img.PlaylistItem-info-image(src="/public/assets/img/gochiusa.jpg")
    div.PlaylistItem-info-main
      p.PlaylistItem-info-text.PlaylistItem-info-text--title Gochiusa songs 
      p.PlaylistItem-info-text by @datyayu
      p.PlaylistItem-info-text 24 songs
      p.PlaylistItem-info-text 5,321 plays

  div.PlaylistItem-top.u-desktopOnly
    h2.PlaylistItem-top-title Top Songs
    ul.PlaylistItem-top-list
      li.PlaylistItem-top-item Gochuumon wa Usagi Desu ka? (chino vr)
      li.PlaylistItem-top-item Hitosaji no Ohimesama Monogatari
      li.PlaylistItem-top-item Rabbit Hole
      li.PlaylistItem-top-item Zutto Issho
