div.Release
  -var page_title = "Hafa Adai"
  include ./header

  div.Release-content
    img.Release-image(src="/public/assets/img/iguigu.jpg")
    div.Release-info
      p.Release-text.Release-text--title Hafa Adai
      p.Release-text.Release-text by Iguchi Yuka
      p.Release-text.Release-text Hafa Adai
      p.Release-text.Release-text.Release-text--year 2015 
