div.Sidebar
  ul.Sidebar-list
    li.Sidebar-item
      img.Sidebar-logo(src="/public/assets/img/logo.svg")
      p.Sidebar-text raji
    li.Sidebar-item 
      i.fa.fa-play.Sidebar-icon
      p.Sidebar-text NOW PLAYING
    li.Sidebar-item 
      i.fa.fa-desktop.Sidebar-icon
      p.Sidebar-text SERIES
    li.Sidebar-item 
      i.fa.fa-calendar.Sidebar-icon
      p.Sidebar-text SEASONS
    li.Sidebar-item 
      i.fa.fa-th-list.Sidebar-icon
      p.Sidebar-text PLAYLIST
  div.Sidebar-user
    img.Sidebar-userImage(src="/public/assets/img/user.jpg")
    p.Sidebar-userName @datyayu
