li.Song
  div.Song-info
    img.Song-image(src="/public/assets/img/iguigu.jpg")
    div.Song-desc
      p.Song-text Puengue
      p.Song-text Iguchi Yuka
  div.Song-icons
    i.fa.fa-play.Song-icon
    i.fa.fa-heart.Song-icon
    i.fa.fa-plus.Song-icon
