*
  box-sizing border-box

html, body
  background $background_color
  font-family 'Open Sans', sans-serif
  font-size 16px
  margin 0
  padding 0

a
  text-decoration none
  color inherit

ul
  list-style none
  padding-left 0




