/* Colors */
// Background
$background_color = #ecf0f1
$box_color        = #1a1a1a

// Elements
$primary_color   = #3498db
$secondary_color = #09588c
$tertiary_color  = #808080

// Text
$clear_text = #FFFFFF
$light_text = #D7D1D1
$dark_text = #666666

/* Media Queries */
$query_medium = 680px
$query_large  = 980px

